
@keyframes flicker {    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {  
        text-shadow:
        0 0 4px white,
        0 0 11px white,
        0 0 20px white,
        0 0 400px aqua,
        0 0 800px aquamarine,
        0 0 90px white,
        0 0 100px white,
        0 0 150px white;
    
    }
    
    20%, 24%, 55% {      
        text-shadow: none;
    }    
  }

  @keyframes yellow-flicker {    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {  
        text-shadow:
        0 0 4px yellow,
        0 0 11px yellow,
        0 0 20px yellow,
        0 0 400px white,
        0 0 800px yellow,
        0 0 90px white,
        0 0 100px white,
        0 0 150px yellow;
    
    }
    
    20%, 24%, 55% {      
        text-shadow: none;
    }    
  }

  @keyframes blue-flicker {    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {  
        text-shadow:
        0 0 4px blue,
        0 0 11px blue,
        0 0 20px blue,
        0 0 400px white,
        0 0 800px blue,
        0 0 90px white,
        0 0 100px white,
        0 0 150px blue;
    
    }
    
    20%, 24%, 55% {      
        text-shadow: none;
    }    
  }

  @keyframes red-flicker {    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {  
        text-shadow:
        0 0 4px red,
        0 0 11px red,
        0 0 20px red,
        0 0 400px white,
        0 0 800px red,
        0 0 90px white,
        0 0 100px white,
        0 0 150px red;
    
    }
    
    20%, 24%, 55% {      
        text-shadow: none;
    }    
  }

  @keyframes appear {
      0%{
        filter:brightness(10%);
      }      
      100%{
        filter:brightness(100%);
      }
  }