* {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: url("../images/cursor/ball.png"), auto;
}

.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container > * {
  width: 100%;
  box-sizing: border-box;
}

.container h1 {
  font-size: 8rem;
  text-decoration: underline;
  text-align: center;
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px yellow, 0 0 82px yellow, 0 0 50px yellow, 0 0 50px yellow, 0 0 10px yellow;
}

.creator {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 3rem;
  filter: brightness(25%);
}

.creator:hover {
  filter: brightness(100%);
}

.creator:nth-child(even) h2 {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px blue, 0 0 82px blue, 0 0 92px blue, 0 0 102px blue, 0 0 151px blue;
}

.creator:nth-child(odd) h2 {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px red, 0 0 82px red, 0 0 92px red, 0 0 102px red, 0 0 151px red;
}

.right {
  display: inline-block;
  border: solid 1px white;
  height: auto;
  right: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}
